/*Menu y header*/
$bg-titulo:rgba(0, 0, 0, 0.466);
$bg-menuprincipal:#e9ba3ae1;
$bg-menuprincipalhover:#ff8800;
$bg-menulink:#333333;
/*Página de inicio*/
$bg-hr: darkgray;
$bg-circulo1:rgba(212, 105, 17, 0.548);
$bg-circulo2:rgba(212, 166, 17, 0.548);
$bg-principalleft:rgba(247, 231, 178, 0.548);
$span:blueviolet;
/*formulario trasversal*/
$br-formulario:#dfdfdf;
$br-forminput:#bfdeeb;
/*Página Oradores*/
$bg-principalora:rgba(247, 231, 178, 0.548);
$bg-foto: #ff8800;
$bg-cuadritos:#ff8800;
/*Página como llegar*/
$bg-principalmapa:rgba(247, 231, 178, 0.548);
/*Página sponsor*/
$bg-principalspon:rgba(247, 231, 178, 0.548);
$bg-cuadros: #ff8800;

